.mtl{
  display: flex;
}

.first{
  background-color: rgb(244, 244, 244);
  box-shadow: gray 4px;
}

.second{
  background-color: rgb(244, 244, 244);
  box-shadow: gray 4px;
}

.third{
  background-color: rgb(244, 244, 244);
  box-shadow: gray 4px;
}

.forth{
  background-color: rgb(244, 244, 244);
  box-shadow: gray 4px;
}

